[submodule "zeromq4-x"]
	path = zeromq4-x
	url = https://github.com/coopci/zeromq4-x.git
[submodule "libevent"]
	path = libevent
	url = https://github.com/coopci/libevent.git
[submodule "berkeleydb-18.1.32"]
	path = berkeleydb
	url = https://github.com/coopci/berkeleydb.git
